@using Entities.Concrete
@model List<Message>
<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Mesajlar</h4>
                <p class="text-muted mb-1 small">Tümünü Görüntüle</p>
            </div>
            <div class="preview-list">
                @foreach (var item in Model)
                {
                    <div class="preview-item border-bottom">
                      
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                    <h6 class="preview-subject"><a asp-controller="Contact" asp-action="ContactDetails" asp-route-id="@item.Id">@item.Name</a></h6>
                                    <p class="text-muted text-small">@item.Date.ToShortDateString()</p>
                                </div>
                                <p class="text-muted">@item.Content.Substring(0,30)...</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>