
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description" style="font-size: 18px">Yeni Hizmet Ekleme </p>

            <form class="form-group col-md-12" method="post">
                <div class="mb-3">
                    <label>Başlık</label>
                    <input type="text" name="Title" class="form-control" />
                    <br />
                    <label>Görsel</label>
                    <input type="text" name="ImageUrl" class="form-control" />
                    <br />
                </div>
                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
        </div>
    </div>
</div>
<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/Template/assets/vendors/js/vendor.bundle.base.js"></script>

