<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/User/Dashboard/Index/">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/User/Message/ReceiverMessage/">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="margin-left: 150px; color: aliceblue">@ViewBag.unreadMessage</span>
            <i class="icon-mail menu-icon"></i>
            <span class="menu-title">Gelen Mesajlar </span>

        </a>

    </li>

    <li class="nav-item">
        <a class="nav-link" href="/User/Message/SenderMessage/">
            <i class="ti-agenda menu-icon"></i>
            <span class="menu-title">Gönderilen Mesajlar</span>
        </a>
    </li>
        
        
    <li class="nav-item">
        <a class="nav-link" href="/User/Message/SendMessage/">
            <i class="icon-cloud-upload menu-icon"></i>
            <span class="menu-title">Yeni Mesaj</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/User/Default/Index/">
            <i class="icon-bell menu-icon"></i>
            <span class="menu-title">Duyurular</span>
        </a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="/User/Profile/Index/">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">Profil</span>
        </a>
    </li>
</ul>