@model Entities.Concrete.Message
@{
    ViewData["Title"] = "ContactDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3>İletişim Detayları</h3>
                <hr />
                <h5>Gönderen: @Model.Name</h5>
                <h5>Mail: @Model.Mail</h5>
                <h5>Tarih: @(((DateTime)Model.Date).ToString("dd-MMM-yyyy"))</h5>
                <hr />
                <h6 class="card-description">@Model.Content</h6>
            </div>
        </div>
    </div>
</div>

