<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/User/Dashboard/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Message/Index/">
                <i class="icon-mail menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/User/Default/Index/">
                <i class="icon-bell menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/Profile/Index/">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>
        </ul>
</nav>