<div class="row">
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Proje Sayısı</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">@ViewBag.v1</h2>
                            
                        </div>
                        <h6 class="text-muted font-weight-normal">Aktif ve tamamlanan proje sayısı</h6>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Mesaj Sayısı </h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">@ViewBag.v2</h2>
                            
                        </div>
                        <h6 class="text-muted font-weight-normal">Son 1 ayda gelen mesajlar </h6>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Hizmetler</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">@ViewBag.v3</h2>
                           
                        </div>
                        <h6 class="text-muted font-weight-normal">Verilen hizmet detayları</h6>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>