<li class="nav-item profile">
    <div class="profile-desc">
        <div class="profile-pic">
            <div class="count-indicator">
                <img class="img-xs rounded-circle " src="~/corona-free-dark-bootstrap-admin-template-1.0.0/Template/assets/images/faces/face15.jpg" alt="">
                <span class="count bg-success"></span>
            </div>
            <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">Muhammed İnan</h5>
                <span>Admin</span>
            </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
            <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-primary"></i>
                    </div>
                </div>
                <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                </div>
                <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                </div>
                <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
            </a>
        </div>
    </div>
</li>
<li class="nav-item nav-category">
    <span class="nav-link">Navigation</span>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="Default" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-home"></i>
        </span>
        <span class="menu-title">Siteye Git</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="AdminMessage" asp-action="ReceiverMessageList">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="margin-left: 150px; color: aliceblue">@ViewBag.unreadMessage</span>
        <span class="menu-icon">
            <i class="mdi mdi-message"></i>
        </span>
        <span class="menu-title">Gelen Mesajlar</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="AdminMessage" asp-action="SenderMessageList">
        <span class="menu-icon">
            <i class="mdi mdi-message"></i>
        </span>
        <span class="menu-title">Gönderilen Mesajlar</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="Experience" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-worker"></i>
        </span>
        <span class="menu-title">Deneyimler</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="Feature" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-star-circle"></i>
        </span>
        <span class="menu-title">Öne Çıkan</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="Portfolio" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-github-circle"></i>
        </span>
        <span class="menu-title">Projeler</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="Service" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-settings"></i>
        </span>
        <span class="menu-title">Hizmetler</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="Skill" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-percent"></i>
        </span>
        <span class="menu-title">Yetenekler</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="Testimonial" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-contacts"></i>
        </span>
        <span class="menu-title">Referanslar</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="ContactSubPlace" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-calendar"></i>
        </span>
        <span class="menu-title">Alt İletişim</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="Contact" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-phone"></i>
        </span>
        <span class="menu-title">İletişim</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" asp-controller="About" asp-action="Index">
        <span class="menu-icon">
            <i class="mdi mdi-information"></i>
        </span>
        <span class="menu-title">Hakkımda</span>
    </a>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" href="../../pages/charts/chartjs.html">
        <span class="menu-icon">
            <i class="mdi mdi-chart-bar"></i>
        </span>
        <span class="menu-title">Grafikler</span>
    </a>
</li>

<li class="nav-item menu-items">
    <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-icon">
            <i class="mdi mdi-security"></i>
        </span>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/blank-page.html"> Blank Page </a></li>
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a></li>
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a></li>
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" href="../../pages/samples/register.html"> Register </a></li>
        </ul>
    </div>
</li>
<li class="nav-item menu-items">
    <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
        <span class="menu-icon">
            <i class="mdi mdi-file-document-box"></i>
        </span>
        <span class="menu-title">Documentation</span>
    </a>
</li>