
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description" style="font-size: 18px">Yeni Deneyim Ekleme </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" name="Name" class="form-control" />
                    <br />
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    <input type="text" name="Date" class="form-control" />
                    <br />
                </div>
                <div class="form-group">
                    <label>Resim Yolu</label>
                    <input type="text" name="ImageUrl" class="form-control" />
                    <br />
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <textarea type="text" name="Description" class="form-control"></textarea>
                    <br />
                </div>
                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
        </div>
    </div>
</div>
<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/Template/assets/vendors/js/vendor.bundle.base.js"></script>
