
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

   
        <div class="card col-md-10 offset-md-1">
            <div class="card-header border-0">
                <h3 class="mb-0">Yetenek Ekleme Sayfası</h3>
            </div>


            <form class="form-group col-md-12" method="post">
                <div class="mb-3">
                    <label>Başlık</label>
                    <input type="text" name="Title" class="form-control"/>
                    <br/>
                    <label>Değer</label>
                    <input type="text" name="Value" class="form-control"/>
                    <br/>
                </div>
                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
        </div>
